body {
	font-family: Calibri; 
	font-size: 15px; 
	margin: 30px;
	-webkit-user-select: none;
}

.game-over {
	display: none;
	margin: 0 auto;
	width: 900px;
	text-align: center; 
	color: #f44336; 
	font-size: 21px; 
	font-weight: bold; 
}

.pause{
	width: 900px;
	height: 425px;
	opacity: .5;
	position: absolute;
	top: 0;
	display: none;
	background-color: #fff;
}

.pause-sign{
	margin: 137px auto;
	width: 100px;
	height: 100px;
}

.pause-sign div{
	background-color: #000;
	float: left;
	height: 100px;
	width: 35px;
}

.pause-sign div:first-child{
	margin-right: 30px;
}

.text-container{
	width: 900px;
	height: 425px;
	position: absolute;
	top: 0;
}

.text-container p{
	font-family: "Comic Sans MS", verdana;
	font-size: 100px;
	font-weight: bold;
	color: #b41f1f;
	text-shadow: 6px 6px 0px #000;
	text-align: center;
	margin: auto;
}

#field { 
	position: relative; 
	background-image: url(../img/field.png);
	background-repeat: no-repeat;
	width: 900px; 
	margin: 0 auto; 
}

.field-line { 
	height: 85px; 
	position: relative; 
}

.buttons { 
	width: 900px; 
	margin: 0 auto; 
	margin-top: 5px; 
}

.button { 
	display: inline-block;
	border: 1px solid #eee; 
	padding: 5px 10px; 
	margin-bottom: 5px; 
	cursor: pointer; 
	text-align: center; 
}

.disabled{
	pointer-events: none;
	background-color: #206676;
	cursor: default;
}

.zombie { 
	position: absolute;
	top: 0;
	right: 0; 
	width: 50px;
	height: 85px; 
	background-size: 50px 75px; 
	background-repeat: no-repeat;
	background-position: bottom;
}

.zombie.michael { 
	background-image: url(../img/michael.gif); 
}

.zombie.strong { 
	background-image: url(../img/strong.gif); 
}

.zombie.balloon { 
	background-image: url(../img/balloon.gif); 
}

.progress{
	height: 3px;
	background-color: red;
}

.progress-value{
	height: 3px;
	background-color: #66FF00;
}