Измененные требования:

1.Нажатие на кнопку "Start" запускает игру. Кнопка меняет свой внешний вид на кнопку “Pause”.
2.Нажатие на кнопку "Pause" приостанавливает игру. Кнопка возвращается к исходному состоянию. Все не собранные ресурсы остаются. Счетчики не сбрасываются. Клики на ресурсы не приводят ни к чему.
3.Нажатие на кнопку "Stop" полностью останавливает игру и очищает все ресурсы и счетчики.
4.При нажатии на ресурс он пропадает;
  Счетчик (соответствующий данному ресурсу) увеличивается на определенное количество баллов (соответствующее данному ресурсу);
  Общий счетчик ресурсов увеличивается на определенное количество баллов (соответствующее данному ресурсу);
  Вместо изображения ресурса появляется текст с количеством набранных баллов.
5.Время появления и "жизни" бомб и ресурсов зависит от текущего уровня; уровень увеличивается, когда общий счетчик ресурсов больше чем текущий уровень*100. При увеличении уровня уменьшается время появления бомб и ресурсов, "жизни" ресурсов.
6.После окончания времени жизни ресурс пропадает, а бомба "взрывается"(уничтожает все ресурсы в квадрате 400*400 с бомбой в центре). 

