
.container{
	width: 1010px;
	height: 500px;
	margin: auto;
	outline: 1px solid #555555;
	padding: 10px;
}

.content{
	float: left;
	height: 500px;
	width: 800px;
	margin-right: 10px;
	outline: 1px solid #555555;
}

.button-container{
	float: left;
	height: 500px;
	width: 200px;
	outline: 1px solid #555555;
}

.small-block{
	float: left;
	width: 50px;
	height: 50px;
	outline: 1px solid gray;
	text-align: center;
}

.disabled-button{
	cursor: default;
	background-color: gray;
}

button{
	display: block;
	margin: 10px auto;
	width: 100px;
	height: 30px;
	background-color: #555555;
    color: white;
    border: 0px;
    cursor: pointer;
}