
.container{
	width: 1010px;
	height: 500px;
	margin: auto;
	outline: 1px solid #555555;
	padding: 10px;
}

.content{
	float: left;
	height: 500px;
	width: 800px;
	margin-right: 10px;
	outline: 1px solid #555555;
}

.button-container{
	float: left;
	height: 500px;
	width: 200px;
	outline: 1px solid #555555;
}

.small-block{
	float: left;
	width: 50px;
	height: 50px;
	outline: 1px solid gray;
	text-align: center;
}

.button-container .disabled{
	pointer-events: none;
	cursor: default;
	background-color: gray;
}

.button-container div{
	text-align: center;
	margin: 10px auto;
	width: 100px;
	height: 30px;
	background-color: #555555;
    color: white;
    cursor: pointer;
}

.color-red{
	background-color: #f44336;
}

.color-orange{
	background-color: #ff9800;
}

.color-green{
	background-color: #4caf50;
}